@import "tailwindcss";

@theme {
  --font-sans: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
      url('./assets/fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/RobotoCondensed-Medium.woff2') format('woff2'),
      url('./assets/fonts/RobotoCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/RobotoCondensed-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/RobotoCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/RobotoCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/RobotoCondensed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}



